@media only screen and (max-width: 576px) {
  .nav-hover:hover{
    text-shadow: 1px 1px 5px blue,-1px -1px 2px red!important;
  }
  .home-title2{
    font-size: 20px!important;
    letter-spacing: 3px!important;
  }
  .home-title{
    padding-top: 7px!important;
  }
}
@media only screen and (max-width: 768px)and (min-width: 576px) {
  .nav-hover:hover{
    text-shadow: 1px 1px 10px blue,-1px -1px 2px red!important;
  }
  .home-title2{
    font-size: 30px!important;
    letter-spacing: 5px!important;
  }
  .home-title{
    padding-top: 15px!important;
  }
}
.home-title{
  padding-top: 20px;
}
.home-title2{
  font-size: 50px;
  font-weight: 700;
  color:white;
  letter-spacing: 7px;
  font-family: 'Overpass', sans-serif!important;
  text-shadow: 1px 1px 7px black, -1px -1px 10px black,2px 2px 7px black ;
  overflow: hidden;
  z-index:50!important;
}

.nav-up{
  position: fixed;
  right: 25px;
  bottom: 25px;
  width:40px;
  height: 40px;
  background-color: rgba(0,0,0,0.9);
  z-index: 950!important;
  border-radius:5px;
  transition: 1s;
}

.navbar-container{
  background-size: cover;
  height:200%!important;
  width: 200%!important;
  z-index:900!important;
  background-color: rgba(0,0,0,0.95);
  position: fixed;
  right: -200%;
  top:-200%;
  border-radius: 50%;
}
.navbar-button{
  top: -75px;
  right: -75px;
  width:150px;
  height: 150px;
  text-align: center;
  position: fixed;
  z-index:999!important;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.navbar-button img{
  width:30px;
  height: 40px;
  position: absolute;
  bottom: 25px;
  left:30px;
}

.nav-hover{
  transition: .5s;
}
.nav-hover:hover{
  text-shadow: 1px 1px 15px blue,-1px -1px 10px red;
}
.wrapper{
  padding: 0!important;
  margin: 0!important;
}
html{
  padding: 0!important;
  margin: 0!important;
  overflow-x: hidden!important;
}

.counter{
  z-index: 20!important;
}
.counter-text{
  z-index: 20!important;
  color: black;
  font-family: open-sans;
  color: rgba(0,0,0,0.7);
}
.counter-title{
  z-index: 20!important;
  color: rgba(0,0,0,0.7);
  font-family: montserrat;
}


.counter-count{
  font-family: montserrat-bold;
  font-style: italic;
  font-weight: 800;
  font-size: 125px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  z-index: 0!important;
}

.about{
  font-size: 17px;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

.about-1 , .about-2 , .about-3{
  background-size: cover;
  background-position: center right;
  filter: grayscale(100%);
  min-height: 100vh;
  box-shadow: 0 0 2px 2px white inset;
}

.about-1{
  background-image: url("../img/brand.jpg");
  background-position: center left!important;
}

.about-2{
  background-image: url("../img/inspiration.jpg");
  background-position: center left!important;
}

.about-3{
  background-image: url("../img/mission.jpg");
  background-position: center left!important;
}




.hero-back {
  min-width: 100%!important;
  max-width: 100%!important;
  min-height:100%;
  height: calc(150vh);
  background: url(../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  filter: grayscale(20%);
  padding: 0!important;
  margin:0 !important;
}
.hero-back img {
  height: 75%;
  position: absolute;
  right: 60%;
  bottom:  0;
  margin: auto;
}

.hero-text{
  min-height: 100vh;
}

.hero-text h1{
  font-size: 100px;
}
.hero-text p{
  overflow: visible;
}

.hero-back2 {
  min-width: 100%;
  min-height:100%;
  height: calc(500vh);
  position: relative;
  overflow-x: hidden;
}

.hero2-text-1{
  position: absolute;
  top:10%;
  z-index: 100!important;
}
.hero2-text-2{
  position: absolute;
  top:30%;
  z-index: 100!important;
}
.hero2-text-3{
  position: absolute;
  top:50%;
  z-index: 100!important;
}
.hero2-text-4{
  position: absolute;
  top:70%;
  z-index: 100!important;
}
.hero2-text-5{
  position: absolute;
  top:80%;
  z-index: 100!important;
}
.landscape-1{
  width: 100%;
  height :100%;
  position:absolute;
  background: url(../img/landscape-1.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center center;
  top:0;
  left:0;
}
.landscape-2{
  width: 100%;
  height :100%;
  position:absolute;
  background: url(../img/landscape-2.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center center;
  top:0;
  left:-100%;
}
.landscape-3{
  width: 100%;
  height :100%;
  position:absolute;
  background: url(../img/landscape-3.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center center;
  top:0;
  left:-200%;
}
.landscape-4{
  width: 100%;
  height :100%;
  position:absolute;
  background: url(../img/landscape-4.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center center;
  top:0;
  left:-300%;
}

.hero-text{
  min-height: 100vh;
}

.hero-text h1{
  font-size: 100px;
}
.hero-text p{
  overflow: visible;
}

.hero-back3 {
  max-width: 100%;
  height: calc(250vh)!important;
  background: url(../img/street.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  opacity: 0;
  overflow: hidden;
}
.hero3-div{
  height: 100vh;
}

.figure-motor {
  width: auto;
  position: absolute;
  left:45%;
  top:0%;
  margin: auto;
  opacity: 0;
  z-index: 100!important;
}
.figure-4 {
  width: auto;
  height: 15%;
  position: absolute;
  left: 0;
  top:  20%;
  margin: auto;
}
.hero3-title-left{
    font-size: 100px;
    position: absolute;
    top: 50vh;
    right:50%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 5px!important;
}

.hero3-title-right{
  font-size: 100px;
  position: absolute;
  top: 50vh;
  left:50%;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 5px!important;
}
.street {
  position: sticky;
  object-position: center center;
  width: 100%;
  top:0;
  margin: auto;
}

.hero-back4 {
  max-width: 100%;
  height: calc(200vh)!important;
  background: url(../img/shop.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  opacity: 1;
  overflow: hidden;
}

.open{
  width: 100%;
  height :100%;
  position:absolute;
  background: url(../img/open.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center center;
  top:0;
  left:0;
}
.open2{
  width: 100%;
  height :100%;
  position:absolute;
  background: url(../img/open2.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center center;
  top:0;
  left:0;
}

.hero4-text{
  position: relative;
  top:50%;
}
